@page
@model VaccinationSystem.Pages.Admin.Visits.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Visit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visit.Patient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visit.Patient.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visit.Vaccine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visit.Vaccine.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visit.Doctor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visit.Doctor.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visit.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visit.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visit.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visit.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Visit.Id">Edit</a> |
    <a asp-page="../Index">Go back</a>
</div>
